# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/
.eggs/

# Virtualenvs
.venv/
venv/
env/

# Django
*.sqlite3
/staticfiles/
/media/

# Testes / Linting
.coverage
htmlcov/
.pytest_cache/
.ruff_cache/
.mypy_cache/

# Editor
.vscode/
.idea/
*.swp

# Docker
docker-compose.override.yml

# Git
.git/
.gitignore

# Secrets
.env
*.pem
*.key
