SECRET_KEY=
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

GEMINI_API_KEY=

DB_NAME=
DB_HOST=
DB_USER=
DB_PASSWORD=
DB_PORT=3306
MYSQL_ROOT_PASSWORD=

CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0

CHROMA_HOST=chroma
CHROMA_PORT=8000

SUPER_USER_USERNAME=
SUPER_USER_PASSWORD=

HF_TOKEN=
NOTIFICA_EMBEDDING_MODEL=
